*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

body{
    background-color: #d9d9d9;
    background-image: url(../img/background3.jpg);
    background-size: cover;
    
}

button:hover{
    background-color: #174888;
}

.nav{
    background-color: #2474db;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

nav h2{
    padding:12px 24px 12px 24px ;
    cursor: pointer;
}
nav h2:hover{
    background-color: #174888;
}

/* =============  MENU SANDUÍCHE  =============   */
.menu-sanduiche {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 36px ;
    height: 36px ;
    background-color: transparent;
    border: none;
    margin: 6px 12px 6px 12px;   
}

.menu-sanduiche div {
    background-color: white;
    height: 3px;
    width: 25px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    background-color: #174888;
    align-items: center;
    width: auto;
    position: fixed;
   
}

menu{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.menu-ativo {
    display: flex;
}

.item2, .item3 {
    padding: 24px 48px 24px 48px;
    text-align: center;
}
.item1, .item4 {
    padding: 24px 71px 24px 71px;
    text-align: center;
}

.menu li:hover{
    margin: 0;
    background-color:#2474db;
}

.menu li a {
    color: white;
    text-decoration: none;
    display: block;
    
}

/* =============  MAIN =============   */

main{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 24px;
    width: 500px;
    height: 400px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.texto{
    padding: 12px;
}

.texto h1{
    font-size: 60px;
}
 
.texto h2{
    font-size: 30px;
}
.centro{
    display: flex;
    justify-content: center;
}

button{
    background-color: #2474db;
    height: 54px;
    width: 180px;
    font-size: 25px;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    cursor: pointer;

}

a{
    text-decoration: none;
    color: #ffffff;
}

/* =============  FOOTER =============   */


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(51, 51, 51);
    color: #ffffff; 
    padding-top: 74px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;

}

.prof img{
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius:50%;
}

.alinhar{
    padding: 48px;
    display: flex;
    justify-content: space-around;
}