*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

body{
    background-color: #d9d9d9;
    background-image: url(../img/background3.jpg);
    background-size: cover;
    
}

button:hover{
    background-color: #174888;
}

.nav{
    background-color: #2474db;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

nav h2{
    padding:12px 24px 12px 24px ;
    cursor: pointer;
}


/* =============  MENU SANDUÍCHE  =============   */


header{
    background: #2474DB;
    
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 6rem;
    
}


.logo{
    display: flex;
    align-items: center;
    font-size: 150%;
}

.logo h1{
    color: #fff;
}

.nav-list{
    display: flex;
    align-items: center;
    
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;

}

.nav-item{
    margin: 0 45px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 600;
    padding: 1.15rem;

}

.nav-link:hover{
    background-color: #164683;
    
}



/* =============  MAIN =============   */

main{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 24px;
    width: 500px;
    height: 400px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.texto{
    padding: 12px;
}

.texto h1{
    font-size: 60px;
}
 
.texto h2{
    font-size: 30px;
}
.centro{
    display: flex;
    justify-content: center;
}

button{
    background-color: #2474db;
    height: 54px;
    width: 180px;
    font-size: 25px;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    cursor: pointer;

}

a{
    text-decoration: none;
    color: #ffffff;
}

/* =============  FOOTER =============   */


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(71, 70, 70);
    color: #ffffff; 
    padding:10%;

}



